<mat-toolbar class="app-header">
    <img class="brand-logo" src="assets/logo-ima-transparente.png" alt="Logo Instituto Mar Atlantico" />
    <span class="logo">Instituto Mar Atlântico</span>

    <span class="spacer"></span>

    <button matButton>Home</button>
    <button matButton>Sobre</button>
    <button matButton>Parceiros</button>
    <button matButton>Contato</button>
    
    <button matIconButton (click)="toggleTheme()">
        <mat-icon>dark_mode</mat-icon>
    </button>
</mat-toolbar>